In [3]:
import pandas as pd

snps = pd.read_csv("data/tiger/WT-F1-022/WT-F1-022_phased.csv")
snps

,chromosome,position,reference,ref_reads,variant,variant_reads,phase_set,QUAL,GT
0,chr2L,299661,C,2,T,1,295534,10.35,0|1
1,chr2L,403001,C,3,T,1,376430,9.38,0|1
2,chr2L,403157,C,2,T,1,376430,34.31,0|1
3,chr2L,411994,G,4,A,1,376430,20.32,0|1
4,chr2L,464646,C,2,G,1,376430,20.87,0|1
...,...,...,...,...,...,...,...,...,...
1202,chr2L,20877132,C,6,G,2,20811220,20.25,0|1
1203,chr2L,20996381,C,4,G,2,20985784,10.83,0|1
1204,chr2L,21080004,A,4,T,3,21062657,18.61,0|1
1205,chr2L,22221711,T,4,C,3,22218276,16.68,1|0
1206,chr2L,23332426,G,16,A,2,.,17.52,0/0